@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <img class="dream" src="~/Images/dreamImg.png"/>
    </div>
    <div class="col-md-6">
        @Html.Partial("_AddUser")
    </div>
</div>