body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #6695a9;
    border-color: #6695a9;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #a5a7aa;
    border-color: #a5a7aa;
}

.panel-primary {
    border-color: #a5a7aa;
}

.dream{
    width:70% !important;
    height:70% !important;
}

.btn-color {
    color: #fff;
    background-color: #6695a9;
    border-color: #6697a9;
}


